.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
  background: #0f0f2f;
}

.botones {
  gap: .2em;
  display: grid;
  grid-template-columns: repeat(3, 70px);
}

.boton {
  cursor: pointer;
  border-radius: 15px;
  border: none;
  background: #ffffb7;
  height: 70px;
  font-size: 1.5em;
  box-shadow: 0 0 .3em #ffffb777;
}

.boton:hover {
  background: rgb(200, 57, 198);
  box-shadow: 0 0 .3em rgba(200, 57, 198, 0.529);
}

.botones-operacion .boton:hover {
  background: rgb(200, 57, 198);
  box-shadow: 0 0 .3em rgba(200, 57, 198, 0.529);
}

.titulo {
  color: white;
  font-size: 3em;
  font-family: "Lato";
  width: 500px;
  text-align: center;
}

.pantalla {
  font-size: 1.5em;
  background: #fff;
  height: 3em;
  justify-content: start;
  padding: 0 .5em;
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  border-radius: 15px;
  overflow: auto;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.244);
}

.calculadora-botones {
  gap: .2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-operacion {
  gap: .2em;
  display: grid;
  grid-template-columns: repeat(1, 70px);
}

.botones-operacion .boton {
  background: #16f172;
  box-shadow: 0 0 .3em #16f17177;
}

.calculadora {
  max-width: 290px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

#btnBORRAR {
  width: 100%;
  margin: 0.5em 0;
  background: rgb(255, 34, 34);
  box-shadow: 0 0 .3em rgba(255, 34, 34, 0.4);
}

#btnBORRAR:hover {
  background: rgb(255, 121, 18);
  box-shadow: 0 0 .3em rgb(255, 121, 0.4);
}